[submodule "blog/themes/panaetius-theme"]
	path = blog/themes/panaetius-theme
	url = https://git.panaetius.co.uk/hugo/panaetius-theme
[submodule "blog/themes/chunky-theme"]
	path = blog/themes/chunky-theme
	url = https://git.panaetius.co.uk/hugo/chunky-theme
