[submodule "blog/themes/panaetius-theme"]
	path = blog/themes/panaetius-theme
	url = https://git.panaetius.co.uk/hugo/panaetius-theme
[submodule "blog/themes/panaetius-chunky-theme"]
	path = blog/themes/panaetius-chunky-theme
	url = https://git.panaetius.co.uk/hugo/panaetius-chunky-theme
[submodule "blog/themes/hugo-notice"]
	path = blog/themes/hugo-notice
	url = https://github.com/martignoni/hugo-notice
